* {
    font-family: 'Noto Sans';
    z-index: 0;
}

h1 {
    font-family: "Noto Sans";
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 1px;
}

p {
    font-family: "Noto Sans";
    font-size: 18px;
}

body {
    margin: 0;
    position: absolute;
    width: 100%;
}

header {
    background-color: #111111;
    display: flex;
    height: 83px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 20;
    box-shadow: 0 2px 15px black;
}

header img {
    width: 230px;
    pointer-events: none;
}

header .header__links > a, .button_login {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

  /* ================== */
.gui_button {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    position: relative;
}
.gui_button > p {
    font-family: 'Press Start 2P', cursive;
    color: #fefefe;
    background-color: #9a4dff;
    font-size: 18px;
    padding: 6px 3px 3px 5px;
    z-index: 2;
    margin: 0;
    text-shadow: 2px 2px 0px #000000;
    outline: solid #7b3dcc 3px;
}
/*======== FOR AUTH FORM ========*/
.gui_button > p > img {
    height: 24px;
    margin-right: 5px;
}
/*======== /FOR AUTH FORM ========*/
.gui_button > .horisontal {
    position: absolute;
    background-color: #7b3dcc;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    border: solid black 3px;
}
.gui_button > .vertical {
    position: absolute;
    background-color: #7b3dcc;
    width: 100%;
    height: 100%;
    padding: 5px 0;
    border: solid black 3px;
}
.gui_button:hover p {
    background-color: #7b3dcc;
    text-shadow: 3px 3px 0px #000000;
    outline: solid #9a4dff 3px;
}
.gui_button:hover .vertical {
    background-color: #9a4dff;
}
.gui_button:hover .horisontal {
    background-color: #9a4dff;
}
.gui_button:active p {
    background-color: #6232A3;
    color: darkgray;
    text-shadow: 4px 4px 0px #000000;
}
.gui_button:active .vertical {
    border: solid darkgray 2px;
}
.gui_button:active .horisontal {
    border: solid darkgray 2px;
}
  /* ================== */

.header__container {
    display: flex;
    height: 83px;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
}

.header__wrapper {
    display: flex;
    height: 83px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.header__links {
    margin-left: 30px;
}

.header__links a {
    margin-right: 20px;
}

.header__logo {
    position: absolute;
}

.header__logo a {
    display: inline-block;
}

.header__getfresh {
    width: 600px;
    display: flex;
    justify-content: right;
    margin-right: 20px;
    align-items: center;
}

.button_login {
    margin-right: 20px;
}

.subs_on_news {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.subs_on_news h2 {
    margin: 20px 0;
}

.more_links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.more_links a {
    margin: 0 10px;
    background-color: #111111;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all 0.2s;
}

.more_links img {
    width: 35px;
    height: 35px;
}

.link_youtube:hover {
    background-color: #ff0000;
    transition: all 0.2s;
}
.link_discord:hover {
    background-color: #5662f6;
    transition: all 0.2s;
}
.link_vk:hover {
    background-color: #0077ff;
    transition: all 0.2s;
}
.link_twitter:hover {
    background-color: #40abe2;
    transition: all 0.2s;
}

footer {
    background-color: #111111;
}

.footer_wrapper {
    padding: 64px 0;
    display: flex;
    justify-content: center;
}

.footer_logos {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logos img {
    height: 100px;
}

.footer_logos > * {
    margin-right: 20px;
}

.sitemap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 380px;
    width: 450px;
    margin-left: 10px;
}

.sitemap h3 {
    color: white;
}

.sitemap a {
    color: #9a4dff;
    text-decoration: none;
}

.sitemap > * {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.sitemap > div {
    margin: 6px 0;
}

.sitemap h3,a {
    margin: 4px 0;
}

.logo_grape {
    color: white;
}

.info-legal {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-right: 10px;
    justify-content: center;
}

.info-legal p {
    color: gray;
    font-size: 12px;
    margin: 1px 0;
}

.user_btn {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
    text-decoration: none;
    color: #9a4dff;
    font-family: 'Press Start 2P', cursive;
}

.user_btn::before {
    content: url("https://freshcraft.pheo-design.ru/img/ui-icons/arrow-down.png");
    position: absolute;
    right: -30px;
    top: 3px;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: end;
}

.second_ul {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: rgba(17, 17, 17, 0.8);
    width: min-content;
    margin-top: 24px;
    padding: 15px 5px;
    align-items: center;
}

.second_ul a {
    margin: 15px 8px;
}

ul:hover .user_btn::before {
    content: url("https://freshcraft.pheo-design.ru/img/ui-icons/arrow-up.png");
}

ul:hover .second_ul {
    display: flex;
    align-items: center;
    transform: translateX(-45px);
}

.user_btn:hover {
    color: #9a4dff;
}

ul:hover .user_btn {
    color: #9a4dff;
}

.second_ul > a {
    margin-bottom: 5px;
}

.second_ul > a:last-child {
    margin-bottom: 0;
}
