.sect__welcome {
    height: 600px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #111111;
    color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 83px;
}

.sect__welcome h1 {
    text-transform: uppercase;
}

.sect__welcome img {
    z-index: -1;
    position: absolute;
    width: 100%;
}

.filter_on_poster {
    background-color: #000;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.welcome_container {
    width: 950px;
}

.weclome_wrapper {
    width: 530px;
    margin-bottom: 50px;
    text-shadow: 1px 1px black;
}

.sect__more {
    background-color: #111111;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-shadow_111111 {
    box-shadow: 0 -16px 14px #111111;
}

.sect__more h1 {
    margin: 0;
    text-transform: uppercase;
}

.more-games_container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 50px 0;
    position: relative;
}

.more-games_container h1 {
    margin: 50px 0;
}

.more-games_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: min-content;
    height: min-content;
    margin: 0 auto;
}

.container_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 50px 32px 50px;
    justify-content: center;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.content_container p {
    text-align: center;
}

.more_containers {
    display: flex;
    flex-direction: row;
}

.more_containers img {
    border: 2px solid white;
}

.more_containers img:hover {
    border: 2px solid #9a4dff;
}

.news_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 50px 0 25px 0;
}

.moregames_btn {
    margin-bottom: 200px;
}

.news_btn {
    margin-bottom: 100px;
}

.news_container h1 {
    color: white;
    margin: 25px 0 70px 0;
}

.news_container p {
    margin: 0;
}

.server_info {
    background-color: white;
    display: flex;
    flex-direction: column;

    color: black;
    text-align: left;
}

.server_info h2 {
    font-size: 28px;
}

.server_info__wrapper {
    margin: 0 auto; 
    width: min-content; 
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.info_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6px 0;
    transition: all 0.3s;
    border: 2px solid #ffffff;
}

.info_container:hover {
    border: 2px solid #9a4dff;
    transform: scale(1.07);
}

.info_container > * {
    width: 450px;
    margin: 15px;
}

.info_container img:hover {
    transform: scale(1.04);
}
.info_container img {
    transition: all 0.3s;
}

.container_text p {
    text-align: left;
}

.container_text h1 {
    margin: 0;
}

.row_reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.row_reverse > .container_text > p {
    text-align: right;
}

.trans-top {
    background-image: url(https://fc.pheo-design.ru/assets/images/ui-icons/trans-top.png);
    width: 100%;
    height: 100px;
    background-repeat: repeat-x;
}

.trans-bottom {
    background-image: url(https://fc.pheo-design.ru/assets/images/ui-icons/trans-bottom.png);
    width: 100%;
    height: 100px;
    background-repeat: repeat-x;
    margin-top: 10px;
}

.corner {
    height: 60px;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    display: flex;
    z-index: 1;
    pointer-events: none;
}

.corner img {
    height: 60px;
}

.corn-top > img:nth-child(2) {
    transform: rotate(90deg);
}

.corn-bottom {
    bottom: 0;
}

.corn-bottom > img:nth-child(1) {
    transform: rotate(270deg);
}
.corn-bottom > img:nth-child(2) {
    transform: rotate(180deg);
}

.sect__more img {
    max-width: 220px;
    transition: all 0.3s;
}

.sect__more img:hover {
    transform: scale(1.07);
    border-color: #9a4dff;
}

.news_container h2 {
    text-align: center;
}

.sect__more h2 {
  margin-bottom: 0;
  text-align: center;
}
