.main {
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px 15px;
    background-color: #111111;
    justify-content: center;
    align-items: center;
    color: white;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3a3c3d;
    padding: 15px;
}

.skins_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111111;
    padding: 15px;
    margin: 0 5px;
}

div.skin > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

div.skin > div:nth-child(1) p {
  width: 100%;
  text-align: center;
}

div.skin > div:nth-child(1) svg {
  width: 25px;
  height: 25px;
}

.main_option_ul {
  position: relative;
}

.main_option_ul:hover > ul {
  display: flex;
  z-index: 200;
  left: -90px;
  background-color: #111111;
}

.main_option_ul:hover > ul > a:nth-child(1) {
  margin-bottom: 2px;
}

.main_option_ul:hover > ul > a {
  width: initial;
  font-size: 15px;
  padding: 10px;
}

.option_ul a {
  width: auto;
  display: flex;
  justify-content: center;
}

.option_ul {
  display: none;
  position: absolute;
}

div.skin > p:nth-child(2) {
    margin-bottom: 5px;
}

div.skin > p:nth-child(3) {
    margin-top: 5px;
}

.skin > div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.skin > div > a {
  padding: 8px;
  font-size: 16px;
  margin: 10px 0;
}

.navigation {
  margin: 15px 0;
  padding: 10px 5px 10px 5px;
  background-color: #3a3c3d;
}
.navigation_container {
  display: flex;
}
.navigation_container a {
  margin: 0 5px;
  font-size: 14px;
  padding: 12px;
}

/* АНИМАЦИЯ БОЛЬШОЙ КНОПКИ */
  
  .big-button-green {
    text-align: center;
    text-decoration: none;
    color: #111111;
    background-color: #7ab393;
    border: 2px solid #387984;
    display: flex;
    width: max-content;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    padding: 15px 25px;
    font-weight: 700;
    text-shadow: 1px 1px #3b3d3e;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0;
  }
  .big-button-green:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  
  .big-button-green:hover {
    background-color: #7ab393;
    color: #111111;
    border-top: 4px solid #387984;
    border-left: 4px solid #387984;
    border-bottom: 0;
    border-right: 0;
    text-shadow: 1px 1px #387984;
  }

  /* ================== */