* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: black; }

.content {
  margin: 0 auto;
  overflow: hidden; }

.header {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0; }
  .header__logo {
    height: 5.5rem; }

.nav__list {
  display: flex;
  gap: 30px; }

.nav__link:link, .nav__link:visited {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: white; }

.trans-top {
  background-image: url(https://freshcraft.pheo-design.ru/img/trans-top.png);
  width: 100%;
  height: 100px;
  background-repeat: repeat-x;
  margin-bottom: 50px; }

.trans-bottom {
  background-image: url(https://freshcraft.pheo-design.ru/img/trans-bottom.png);
  width: 100%;
  height: 100px;
  background-repeat: repeat-x;
  margin-top: 50px;
  top: 100%; }

.main {
  background-color: white;
  height: fit-content;
  width: 100%;
  height: 100%;
  position: relative; }
  .main__content {
    margin: 0 10%;
    height: fit-content; }

.contents {
  display: flex;
  justify-content: center; }
  .contents__list > li {
    margin-bottom: 20px; }
  .contents__element {
    font-size: 18px;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
    list-style-type: none;
    letter-spacing: 1px; }
    .contents__element > a {
      transition: all 0.2s; }
      .contents__element > a:link, .contents__element > a:visited {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.705); }
      .contents__element > a:hover {
        color: black; }
    .contents__element_2nd {
      font-weight: 400;
      margin-bottom: 10px; }
    .contents__element_3rd {
      font-weight: 300; }

.rules {
  display: flex;
  flex-direction: column;
  gap: 5rem; }
  .rules__title {
    font-family: "Noto Sans", sans-serif;
    font-weight: 600; }
    .rules__title_1st {
      font-size: 26px;
      font-weight: 500; }
    .rules__title_2nd {
      font-size: 24px;
      font-weight: 400;
      padding-left: 2rem; }
    .rules__title_3rd {
      font-size: 20px;
      font-weight: 300;
      padding-left: 4rem; }
  .rules__rule {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-size: 24px; }
    .rules__rule_1st {
      padding-left: 2rem; }
      .rules__rule_1st:not(:last-child) {
        margin-bottom: 20px; }
    .rules__rule_2nd {
      padding-left: 4rem;
      font-size: 19px; }
      .rules__rule_2nd:not(:last-child) {
        margin-bottom: 20px; }
    .rules__rule_3rd {
      padding-left: 6rem;
      font-size: 18px; }
      .rules__rule_3rd:not(:last-child) {
        margin-bottom: 20px; }

.footer {
  width: 100vw;
  margin: 0 auto; }

.subscribe {
  text-align: center;
  margin-bottom: 8rem; }
  .subscribe__title {
    font-family: "Noto Sans", sans-serif;
    font-size: 24px;
    color: white;
    margin-bottom: 2rem; }
  .subscribe__icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 30px; }
  .subscribe__link {
    padding: 10px;
    border-radius: 50%;
    transition: all 0.1s; }
    .subscribe__link_youtube:hover {
      background-color: red; }
    .subscribe__link_vk:hover {
      background-color: #0077ff; }
    .subscribe__link_ds:hover {
      background-color: #7289da; }
    .subscribe__link_twitter:hover {
      background-color: #00acee; }
  .subscribe__icon {
    width: 3.5rem;
    user-select: none; }

.copyright {
  width: 45rem;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  margin: 0 auto;
  justify-content: center;
  gap: 50px; }
  .copyright__title {
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 36px; }
  .copyright__logos {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px; }
  .copyright__logo {
    width: 16rem; }
  .copyright__p {
    color: #808080;
    font-size: 14px;
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 20px;
    line-height: 2rem; }
  .copyright__text > hr {
    margin-bottom: 20px; }

.links {
  display: flex;
  gap: 40px;
  flex-wrap: wrap; }
  .links__title {
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    margin-bottom: 1rem; }
  .links__link {
    list-style-type: none; }
    .links__link > a {
      text-decoration: none;
      font-size: 16px;
      margin-bottom: 5px;
      color: #9a4dff;
      font-family: "Noto Sans", sans-serif; }
