/* Основной раздел */

.find_a_solution input {
  font-size: 26px;
  width: 500px;
  padding: 0 0 0 10px;
}

.find_a_solution {
  display: flex;
  margin: 30px 0;
}

.major {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #111111;
  color: #ffffff;
}

.find_a_solution button {
  cursor: pointer;
}

.your_tickets_container {
  background-color: #3a3c3d;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 30px;
  width: 720px;
  max-width: 720px;
}

summary {
  font-size: 28px;
}

.ticket_container {
  background-color: #111111;
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.ticket_container > h2 {
  margin-bottom: 0;
}

details > a {
  text-decoration: none;
  color: white;
}

details > a:hover {
  outline: 4px solid #9a4dff;
}

.activ_tickets {
  margin-bottom: 20px;
}

.main_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_title h1 {
  margin: 0;
}

.projects_list {
  margin: 30px 0;
  display: flex;
}

.projects_list a {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
}

.projects_list a * {
  pointer-events: none;
}

.projects_list a h2 {
  margin: 10px 0 5px 0;
  color: #ffffff;
}

.projects_list a:hover {
  outline: 4px solid #9a4dff;
}

.menu {
  display: flex;
  background-color: #3a3c3d;
  margin-top: 20px;
  padding: 10px 5px 10px 5px;
}

.menu a {
  margin: 0 5px 0 5px;
}


/* service */

.major2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background-color: #111111;
  color: #ffffff;
}

.selected_service {
  margin-top: 118px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
}

.selected_service * {
  pointer-events: none;
}

.selected_service:hover {
  outline: 4px solid #9a4dff;
}

.category_list {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 846px;
  justify-content: space-between;
}

.category_list a * {
  pointer-events: none;
}

.category_list a {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3a3c3d;
  padding: 10px;
  text-decoration: none;
  width: 250px;
  margin: 6px;
}

.category_list a img {
  height: 50px;
  width: 50px;
}

.category_list a p {
  color: white;
  margin: 0;
}

.category_list a:hover {
  outline: 4px solid #9a4dff;
}

.detailed_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.det_info__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.ticket_title {
  font-size: 22px;
  padding: 10px 10px;
  margin: 5px 0 30px 0;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 0px;
  border-left-style: solid;
  border-right-width: 0px;
  border-right-style: solid;
  width: 80%;
}

textarea {
 max-width: 930px;
 height: 250px;
}

.file_input_buttons {
  display: flex;
}
.file_input_buttons label {
  margin: 0 10px;
}

.uploaded_files {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 846px;
}

.uploaded_files > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.uploaded_files > div > div {
  margin: 1px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploaded_files > div > div > a {
  text-decoration: none;
  color: red;
  margin-left: 10px;
}

.uploaded_files > div > div > p {
  margin: 0;
}


/* faq */

.faq_main_container {
  display: flex;
  flex-direction: column;
}

.faq_main_container > a {
  text-decoration: none;
}
.faq_main_container > hr {
  margin-bottom: 30px;
  width: 100%;
}

.faq_main_section {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  align-items: center;
}

.response_container {
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}
.response_container > div {
  display: flex;
  align-items: center;
}
.response_container > div > img {
  height: 50px;
  width: 50px;
  padding: 0 10px 0 0;
  pointer-events: none;
}
.response_container > div > div > p {
  margin: 0;
}
.response_container > div > div > h3 {
  -webkit-line-clamp: 2; /* Число отображаемых строк */
  display: -webkit-box; /* Включаем флексбоксы */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden;
  margin-bottom: 0;
}
.response_container > h2 {
  margin: 0;
}
